atomicwrites
attrs
backcall
cloudpickle
coverage
cycler
dask
decorator
flake8
h5py
ipdb
ipython
ipython-genutils
jedi
kiwisolver
matplotlib
mccabe
more-itertools
networkx
nose
numpy
parso
pexpect
pickleshare
Pillow
pluggy
prompt-toolkit
ptyprocess
py
pycodestyle
pyflakes
Pygments
pylidc
pyparsing
pytest
python-dateutil
PyWavelets
scikit-fmm
scikit-image
scikit-learn
scipy
six
sklearn
toolz
traitlets
wcwidth
